{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row" style="background-color: #9AADBF">
        <div class="col-6" style="position:relative">
            <h4 class="text-center" style="text-decoration:bold; position: absolute; left:200px; top:80px">Career Development Services</h4>
            <p style="text-decoration:bold; position: absolute; left:194px; top:130px; color:white; font-size:16px">Match your goals to the programs below, explore your options, and map out your path to success.</p>
        </div>
        <div class="col-6">
            <img src="{% static 'images/coding.jpg' %}" class="img-responsive" style="height:350px; width:628px"/>
        </div>
    </div> 
</div>

<div class="container mb-5">
    <h3 style="margin-top: 50px">Institutions, Programmes and Resources</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Institutions</th>
                <th scope="col">Links</th>
            </tr>
        </thead>
        <tbody>
            {% for institution in institutions %}
            <tr>
                <td>{{ institution.name }}</td>
                <td><a href="{{ institution.url }}" class="btn btn-primary" target="_blank">Go to site</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock content %}