{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row" style="background-color: #9AADBF">
        <div class="col-6" style="position:relative">
            <h4 class="text-center" style="text-decoration:bold; position: absolute; left:200px; top:80px">Career Development Services</h4>
            <p style="text-decoration:bold; position: absolute; left:194px; top:130px; color:white; font-size:16px">Match your goals to the programs below, explore your options, and map out your path to success.</p>
        </div>
        <div class="col-6">
            <img src="{% static 'images/coding.jpg' %}" class="img-responsive" style="height:350px; width:628px"/>
        </div>
    </div> 
</div>

<div class="container mb-5">
    <h3 style="margin-top: 50px">Institutions, Programmes and Resources</h3>
    <div class="row">
        <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">TERTIARY INSTITUTIONS</th>
                <th scope="col">POST SECONDARY INSTITUTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>University of Sierra Leone</td>
                <td>National Centre for Vocational Studies</td>
              </tr>
              <tr>
                <td>UNIMAK/University of Makeni</td>
                <td>Institute of Business Studies & Administration</td>
              </tr>
              <tr>
                <td>Njala University</td>
                <td>Mohan's Technical Vocational Centre</td>
              </tr>
              <tr>
                <td>University of Lunsar</td>
                <td>Women's Vocational Training Centre</td>
              </tr>
              <tr>
                <td>Eastern Polytechnic</td>
                <td>Bluecrest College</td>
              </tr>
              <tr>
                <td>Freetown Polytechnic</td>
                <td>Civil Service Training College</td>
              </tr>
              <tr>
                <td>Limkokwing University</td>
                <td>Every Nation College of Administration</td>
              </tr>
              <tr>
                <td></td>
                <td>Institute of Business Administration and Technology (IBATECH)</td>
              </tr>
              <tr>
                <td></td>
                <td>LICCSAL Business College</td>
              </tr>
              <tr>
                <td></td>
                <td>Tonkolili District College of Health Sciences</td>
              </tr>
              <tr>
                <td></td>
                <td>Crown Technical College</td>
              </tr>
              <tr>
                <td></td>
                <td>IMAT College</td>
              </tr>
            </tbody>
          </table>



        
        
    </div>
</div>





{% endblock content %}