{% extends 'main.html' %}

{% load static %}
{% load bootstrap_icons %}
{% block content %}

<div class="our-services section-pad-t10" style="background-color:#FFFFF">
                <!-- Hero Area Start-->
                <div class="slider-area ">
                    <div class="single-slider section-overly d-flex align-items-center" style="height:300px">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="hero-cap text-center">
                                        <h2>Labour Market Insight</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

    <div class="container">
        <div class="row d-flex justify-contnet-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mt-60 mb-60">
                    <div class="services-ion">
                        <img src="{% static 'images/icons/unemployment.png' %}" style="width:70px; height:70px"/>
                    </div>
                    <div class="services-cap">
                       <h5><a href="{% url 'unemployment' %}">Employment Statistics</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mt-60 mb-60">
                    <div class="services-ion">
                        <img src="{% static 'images/icons/employee.png' %}" style="width:70px; height:70px"/>
                    </div>
                    <div class="services-cap">
                       <h5><a href="{% url 'employment' %}">Salary information</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mt-60 mb-60">
                    <div class="services-ion">
                        <img src="{% static 'images/icons/analytics.png' %}" style="width:70px; height:70px" />
                    </div>
                    <div class="services-cap">
                       <h5><a href="{% url 'employer-insight' %}">Employer insights</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mt-60 mb-60">
                    <div class="services-ion">
                        <img src="{% static 'images/icons/recruitment.png' %}" style="width:70px; height:70px"/>
                    </div>
                    <div class="services-cap">
                       <h5><a href="{% url 'industrial_relations' %}">Industrial relations</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}