{% extends 'main.html' %}

{% block content %}

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly d-flex align-items-center" style="height:300px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Recruitment Insights</h2>
                        </div>
                        <h4 style="color:white">Labour supply</h4>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area fix" style="margin-top:50px">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <h2>Insights from employers</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">The Recruitment Experiences and Outlook Survey conducted by the Ministry of Labour Sierra Leone surveys approximately 1,200 employers each month to find out about their experience when recruiting staff. See the Recruitment Experiences and Outlook Survey page for information about the survey and to access the monthly and annual reports.</p>
                                <p class="pera-top">In addition to these regular publications exploring trends in recruitment activity, recruitment difficulty and employers’ staffing outlook, the Recruitment Experiences and Outlook Survey provides a rich dataset that allows additional analysis on a range of issues and themes.</p>
                                <p class="pera-top">Topics that have been explored include:</p>
                            </div>
                        </div>

                        <div class="right-caption mt-4">
                            <div class="section-tittle section-tittle2">
                                <h3>Recruitment difficulty</h3>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">As part of the Recruitment Experiences and Outlook Survey, employers who recruited in the past month are asked if they had (or are having) difficulty filling their vacancies. The proportion of recruiting employers that had difficulty can be tracked over time to determine how well labour supply is meeting labour demand. For more information on how the rate of recruitment difficulty is tracking over time, please see the latest Recruitment Insights Report on this page. The reports below provide insight into various aspects of recruitment difficulty.</p>
                                <p class="pera-top">This short report shows how the recruitment difficulty rate is derived, and shows to what extent employers with difficulty are actually able to fill their vacancies. It was featured as the Spotlight for the February 2022 Recruitment Insights Report.</p>
                            </div>
                        </div>

                        <div class="right-caption mt-4">
                            <div class="section-tittle section-tittle2">
                                <h3>Why are Unemployment statistics important?</h3>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">The unemployment rate is probably the best-known measure of the labour market. It measures unutilised labour supply and is useful in the study of the economic cycle as it is closely related to economic fluctuations.</p>
                                <h5>Types of Unemployment</h5>
                                <p class="pera-top">There are basically four types of unemployment: </p>
                                <p class="pera-top">1. Demand deficient unemployment</p>
                                <p style="margin-top:-30px">Demand deficit unemployment is the biggest cause of unemployment that typically happens during a recession. When companies experience a reduction in the demand for their products or services, they respond by cutting back on their production, making it necessary to reduce their workforce within the organization. In effect, workers are laid off.</p>

                                <p class="pera-top">2. Frictional unemployment</p>
                                <p style="margin-top:-30px">Frictional unemployment refers to those workers who are in between jobs. An example is a worker who recently quit or was fired and is looking for a job in an economy that is not experiencing a recession. It is not an unhealthy thing because it is usually caused by workers trying to find a job that is most suitable to their skills.</p>

                                <p class="pera-top">3. Structural unemployment</p>
                                <p style="margin-top:-30px">Structural unemployment happens when the skills set of a worker does not match the skills demanded by the jobs available, or alternatively when workers are available but are unable to reach the geographical location of the jobs.</p>

                                <p style="margin-top:-50px">An example is a teaching job that requires relocation to China, but the worker cannot secure a work visa due to certain visa restrictions. It can also happen when there is a technological change in the organization, such as workflow automation that displaces the need for human labor.</p>

                                <p class="pera-top">4. Voluntary unemployment</p>
                                <p style="margin-top:-30px">Voluntary unemployment happens when a worker decides to leave a job because it is no longer financially compelling. An example is a worker whose take-home pay is less than his or her cost of living.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
    </div>
        <!-- Blog Area End -->

{% endblock content %}