{% extends 'main.html' %}

{% block content %}

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly d-flex align-items-center" style="height:300px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Unemployment</h2>
                        </div>
                        <h4 style="color:white">Labour supply</h4>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area fix" style="margin-top:50px">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <h2>Overview</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Unemployment is a term referring to individuals who are employable and actively seeking a job but are unable to find a job. Included in this group are those people in the workforce who are working but do not have an appropriate job. Usually measured by the unemployment rate, which is dividing the number of unemployed people by the total number of people in the workforce, unemployment serves as one of the indicators of a country economic status.</p>
                                <p class="pera-top">Unemployed Persons refer to persons aged fifteen years and over who during the reference period were: not working, i.e. were not in salaried or self employment; but were, actively looking for a job; and, available for work. </p>
                                <p class="pera-top">In Sierra Leone, the unemployment rate measures the number of people actively looking for a job as a percentage of the labour force.</p>
                                <p class="pera-top">Unemployment Rate is defined as the percentage of unemployed persons to the labour force (i.e. those working or seeking work) aged fifteen years and over.​</p>
                                <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=sieoneunetrate&v=202209200952V20220312&h=550&w=1000' height='550' width='1000'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/sierra-leone/unemployment-rate'>tradingeconomics.com</a>
                            </div>
                        </div>

                        <div class="right-caption mt-4">
                            <div class="section-tittle section-tittle2">
                                <h3>How are Unemployment data collected in Sierra Leone?</h3>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Unemployment data are compiled from the Ministry of Labour Force Survey.

                                    The survey covers private households in Sierra Leone. It excludes workers living in construction worksites, dormitories and workers quarters at the workplace and persons commuting from abroad to work in Sierra Leone. Estimates of the total labour force are derived by combining data on residents (also known as locals) obtained from the survey with foreign employment data compiled from administrative records.</p>
                            </div>
                        </div>

                        <div class="right-caption mt-4">
                            <div class="section-tittle section-tittle2">
                                <h3>Why are Unemployment statistics important?</h3>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">The unemployment rate is probably the best-known measure of the labour market. It measures unutilised labour supply and is useful in the study of the economic cycle as it is closely related to economic fluctuations.</p>
                                <h5>Types of Unemployment</h5>
                                <p class="pera-top">There are basically four types of unemployment: </p>
                                <p class="pera-top">1. Demand deficient unemployment</p>
                                <p style="margin-top:-30px">Demand deficit unemployment is the biggest cause of unemployment that typically happens during a recession. When companies experience a reduction in the demand for their products or services, they respond by cutting back on their production, making it necessary to reduce their workforce within the organization. In effect, workers are laid off.</p>

                                <p class="pera-top">2. Frictional unemployment</p>
                                <p style="margin-top:-30px">Frictional unemployment refers to those workers who are in between jobs. An example is a worker who recently quit or was fired and is looking for a job in an economy that is not experiencing a recession. It is not an unhealthy thing because it is usually caused by workers trying to find a job that is most suitable to their skills.</p>

                                <p class="pera-top">3. Structural unemployment</p>
                                <p style="margin-top:-30px">Structural unemployment happens when the skills set of a worker does not match the skills demanded by the jobs available, or alternatively when workers are available but are unable to reach the geographical location of the jobs.</p>

                                <p style="margin-top:-50px">An example is a teaching job that requires relocation to China, but the worker cannot secure a work visa due to certain visa restrictions. It can also happen when there is a technological change in the organization, such as workflow automation that displaces the need for human labor.</p>

                                <p class="pera-top">4. Voluntary unemployment</p>
                                <p style="margin-top:-30px">Voluntary unemployment happens when a worker decides to leave a job because it is no longer financially compelling. An example is a worker whose take-home pay is less than his or her cost of living.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
    </div>
        <!-- Blog Area End -->

       
{% endblock content %}
