{% extends 'main.html' %}

{% block content %}
    <div class="slider-area" style="background-color: #004F98; margin-top: -15px">
        <div class="single-slider section-overly d-flex align-items-center" style="height:200px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2 style="color: white; text-align: left; font-size: 34px; font-weight: bold">About SL-LMIS</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="col-lg-8" style="line-height: 40px;">
                <p>
                    According to a road map document produced by MLSS, across ECOWAS countries labour market and migration information is dispersed, 
                    incomplete, irregularly produced and not sufficiently analysed. There are also problems and difficulties accessing information and 
                    it is rarely available in a centralised place. As a consequence in the absence of a centralised national mechanism for coordinating 
                    labour market information it is difficult to establish links between institutions that produce intelligence and those that use it, 
                    including data relating to skills, employment and migration. As a consequence, it is difficult to understand current trends and to 
                    establish a coordinated response to priority skill gaps or shortages, all of which leads to constraints in the labour market and a 
                    failure to match supply and demand.
                </p>
                <p>
                    In this respect Sierra Leone, and other ECOWAS countries, need to establish a sustainable labour market information system (LMIS) 
                    that supports the collection, collation, analysis, utilization and dissemination of information on the countries and regions labour 
                    market. An LMIS Architecture refers to all the management and governance arrangements, procedures and institutional mechanisms put in 
                    place to coordinate the collection, processing, analysis, storage, retrieval and dissemination of labour market information.
                </p>
                <p>
                    Currently, Sierra Leone only has certain components of the LMIS Architecture and these need to be developed to ensure that the country 
                    can more effectively collect, collate, analyse and make more informed decisions. In this respect the British Council, with the support 
                    of the EU, have provided technical assistance to help the MLSS in Sierra Leone move towards establishing a sustainable LMIS Architecture. 
                    A number of workshops have already taken plan place with the MLSS and partners to support this process and move forward.
                </p>

                
                <div class="hero__caption">
                    <h1 style="font-weight: 900 !important; font-size: 34px !important">SL-LMIS Function</h1>
                    <p>The key function of the SL - LMIS should be Strategic and Analytical. However, it is suffice to note that some features of the operational and administrative functions of LMIS could be incorporated into the SL- LMIS.</p>
                </div>

                <div class="hero__caption">
                    <h1 style="font-weight: 900 !important; font-size: 34px !important">The key target groups are:</h1>
                    <ul>
                        <li>TVET administrators and planners</li>
                        <li>Employers  </li>
                        <li>Researchers</li>
                        <li>Policy makers </li>
                        <li>Learners (Youth)</li>
                        <li>International community</li>
                        <li>Employment exchanges </li>
                    </ul>
                </div>

                <div class="hero__caption">
                    <h1 style="font-weight: 900 !important; font-size: 34px !important">The outputs from the LMIS will help:</h1>
                    <ul>
                        <li>Training institutions provide the right skills and training programmes for learners</li>
                        <li>Government to develop sound policy on skills development and learning</li>
                        <li>Government to understand the current labour market demand and supply and forecast future skill needs</li>
                        <li>Improve job matching</li>
                        <li>Reduce skills gap in the labour market</li>
                        <li>Government to develop sector, regional and national skills plan</li>
                        <li>To develop TVET and Migration strategy</li>
                    </ul>
                </div>

                <div class="hero__caption">
                    <h1 style="font-weight: 900 !important; font-size: 34px !important">Goal</h1>
                    <p>
                        The goal of creating a Labour Management Information System (LMIS) is to effectively manage and optimize various aspects related to labor 
                        and workforce within in Sierra Leone. The system aims to streamline and automate processes related to human resources, ensuring efficient 
                        utilization of labor resources, and ultimately improving overall productivity and performance.
                    </p>
                </div>

            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

{% endblock content %}


