{% extends 'main.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3" style="width:70%; font-size:14px">
    <h5 class="mt-5 text-center fw-bold">COMPANY REGISTRATION</h5>
    <!--Message from backend (success)-->
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert"><strong>{{error|escape}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <!--Message from backend (success)-->
    <div class="text-center">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert"><strong>{{message}}</strong>
                    <a href="{% url 'login' %}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <form method="POST" enctype="multipart/form-data" class="card p-3 mt-4" style="margin-bottom:80px; background-color:#f5f5f5; border: 1px solid #e3e3e3;" autocomplete="off" action="{% url 'company_register' %}" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">{{ form.company_name|as_crispy_field }}</div>
            <div class="col-6">{{ form.username|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form.email|as_crispy_field }}</div>
            <div class="col-6">{{ form.password1|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-4">{{ form.password2|as_crispy_field }}</div>
            <div class="col-4">{{ form.address|as_crispy_field }}</div>
            <div class="col-4">{{ form.phone_number|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-12">{{ form.description|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form.sector|as_crispy_field }}</div>
            <div class="col-6">{{ form.location|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form.company_logo|as_crispy_field }}</div>
            <div class="col-6">{{ form.company_certificate|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form.company_size|as_crispy_field }}</div>
            <div class="col-6">{{ form.website|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn text-white mt-3" style="width:250px; font-weight:400; font-size:15px; background-color:#29569F">Register</button>
            </div>
            <div class="col-4 offset-2" style="padding-top: 40px; padding-left:-60px">
                <h5 style="font-size:14px;">Already Registered?<a href="{% url 'login' %}" class="px-2 fs-6 fw-bold" style="color:red">Login</a></h5>
            </div>
        </div>
    </form>
</div>
{% endblock content %}