{% extends 'main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/css/style.css' %}">

<section class="pt-5 pt-md-10 pt-lg-28 pb-5 pb-md-10 pb-lg-28" style="background-image: url('{% static 'images/background.png' %}'); background-position: center; background-size: cover;">
    <div class="container mx-auto">
      <div class="row">
        <div class="col-12">
          <div class="text-center text-white">
            <h3 class="mb-4 fs-2 text-white fw-bold">Profile Details</h3>
            <div class="page-next">
              <nav class="inline-block" aria-label="breadcrumb text-center">
                <ol class="flex flex-wrap justify-center text-sm font-medium uppercase list-none p-0 m-0">
                  <li class="list-inline-item"><a href="{% url 'home' %}" class="text-white">Home</a></li>
                  <li class="list-inline-item"><i class="bi bi-chevron-right align-middle px-2.5 text-white pr-2"></i>  <a href="{% url 'register' %}" class="text-white">Register</a></li>
                  <li class="list-inline-item active" aria-current="page"><i class="bi bi-chevron-right align-middle px-2.5 text-white pr-2"></i> Profile Details</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
    <!-- Start grid -->
    <section class="py-5">
        <div class="container mx-auto">
            <div class="grid grid-cols-12 gap-y-10 gap-lg-10">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="border" style="border-radius: 10px;">
                            <div class="p-5" style="border-color: gray; border-bottom-style: solid; border-bottom-width: 1px;">
                                <div class="text-center">
                                    {% if jobseeker.profile_pic %}
                                    <img src="{{jobseeker.profile_pic.url}}" alt="" class="w-20 h-20 mx-auto img-fluid rounded-circle" style="max-width: 100px;">
                                    {% endif %}
                                    <h6 class="mt-4 mb-0 text-lg text-gray-900 dark:text-gray-50">{{jobseeker.first_name}} {{jobseeker.last_name}}</h6>
                                    <p class="mb-4 text-gray-500">{{jobseeker.profession}}</p>
                                    <ul class="list-inline text-center">
                                        {% if jobseeker.twitter %}
                                            <li class="list-inline-item">
                                                <a href="#"><i class="bi bi-twitter fs-3 mr-3" style="color:#00acee"></i></a>
                                            </li>
                                        {% endif %}
                                        {% if jobseeker.linkedin %}
                                            <li class="list-inline-item">
                                                <a href="#"><i class="bi bi-linkedin fs-3 mr-3" style="color:#0072b1"></i></a>
                                            </li>
                                        {% endif %}
                                        {% if jobseeker.facebook %}
                                            <li class="list-inline-item">
                                                <a href="#"><i class="bi bi-facebook fs-3" style="color:#3b5998"></i></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="pl-3 pr-3 pt-4 pb-3" style="border-color: gray; border-bottom-style: solid; border-bottom-width: 1px;">
                                <h6 class="mb-3 fw-semibold text-gray-900 fs-5">Profile Overview</h6>
                                <ul class="space-y-4">
                                    <li class="d-flex align-items-center mb-10">
                                        <label class="text-gray-900 w-25 fs-6 me-5">Sector</label>
                                        <p class="mb-1 text-gray-500">Accounting / Finance</p>
                                    </li>
                                    <li class="d-flex align-items-center mb-10">
                                        <label class="text-gray-900 w-25 fs-6 me-5">Employment Status</label>
                                        <p class="mb-1 text-gray-500">{{jobseeker.employment_status}}</p>
                                    </li>
                                    <li class="d-flex align-items-center mb-10">
                                        <label class="text-gray-900 w-25 fs-6 me-5">Education Level</label>
                                        <p class="mb-1 text-gray-500">{{jobseeker.education_level}}</p>
                                    </li>
                                    <li class="d-flex align-items-center mb-10">
                                        <label class="text-gray-900 w-25 fs-6 me-5">Profession</label>
                                        <p class="mb-1 text-gray-500">{{jobseeker.profession}}</p>
                                    </li>
                                    
                                </ul>
                                <div class="mt-8">
                                    <div class="mt-8 text-center">
                                        <a href="mailto:{{jobseeker.email}}" class="btn w-full text-white" style="background-color:#29569F"><i class="bi bi-envelope"></i> Contact Me</a>
                                    </div>
                                    <div class="mt-8 text-center">
                                        <a href="{{jobseeker.resume}}" class="btn w-full mt-3 text-white" style="background-color:#AA4A44"><i class="bi bi-download"></i> Download CV</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-3 pr-3 pt-4 pb-3">
                                <h6 class="mb-3 fw-semibold text-gray-900 fs-5">Contact Details</h6>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="mb-4">
                                                <i class="bi bi-envelope fs-3"></i>
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-1 text-gray-900 fs-6">Email</h6>
                                                <p class="text-gray-500">{{jobseeker.email}}</p> 
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="mb-4">
                                                <i class="bi bi-geo-alt fs-3"></i>
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-1 text-gray-900 fs-6">Location</h6>
                                                <p class="text-gray-500">{{jobseeker.district}}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="mb-4">
                                                <i class="bi bi-telephone fs-3"></i>
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-1 text-gray-900 fs-6">Phone</h6>
                                                <p class="text-gray-500">{{jobseeker.phone_number}}</p> 
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="p-4 border" style="border-radius: 10px;">
                            <div>
                                <h6 class="mb-3 fw-semibold text-gray-900 fs-5">About Me</h6>
                                <p class="mb-2 text-gray-500">{{jobseeker.about}}</p>
                            </div>
                            
                            
                            <div class="text-start mt-5">
                                <a href="{% url 'edit_jobseeker_profile' id=jobseeker_id %}" type="submit" class="btn text-white" style="background-color:#29569F">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End grid -->



{% endblock content %}




