{% extends 'main.html' %}

{% block content %}

<div class="our-services section-pad-t10 mt-2" style="background-color:#FFFFF">
    <div class="slider-area" style="background-color: #3CB043; margin-top: -15px">
        <div class="single-slider section-overly d-flex align-items-center" style="height:200px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>News & Events</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- News and Events Start -->
    <div class="home-blog-area" style="background-color:#f5f5f5;">
        <div class="card-container d-flex flex-wrap">
            <div class="row">
                {% for news in news_and_events_list %}
                <div class="col-xl-4 col-lg-4 col-md-4 mb-5">
                    <div class="home-blog-single mb-30 mb-3 flex-fill" style="height:450px">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="{{ news.image1.url }}" alt="" height="200" width="100%"> 
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>{{ news.tag }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <p>|   {{ news.published_date }}</p>
                            <h5 style="width: 100%">{{ news.title }}</h5>
                            <a href="{% url 'news_and_event_detail' news.id %}" class="btn btn-primary mt-4" style="color:white; background-color:#29569F">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

        <nav aria-label="Page navigation example" class="offset-5 mb-5 mt-5">
            <ul class="pagination">
                {% if news_and_events_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ news_and_events_list.previous_page_number }}" style="background-color:#29569F; color:#FFFFFF">Previous</a></li>
                {% endif %}
                {% for num_page in  news_and_events_list.paginator.page_range %}
                {% if news_and_events_list.number == num_page %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num_page }}" style="background-color:#29569F; color:#FFFFFF">{{num_page}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num_page }}" style="background-color:#29569F; color:#FFFFFF">{{num_page}}</a></li>
                {% endif %}
                {% endfor %}
                {% if news_and_events_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ news_and_events_list.next_page_number }}" style="background-color:#29569F; color:#FFFFFF">Next</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>

{% endblock content %}



